@charset "utf-8";

/* 全体 */
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    font-family: 'Noto Sans JP', sans-serif;
}

a,h3,p,label {
    color: #505050;
    font-weight: bold;
}
h1,h2,h4 {
    color: #0D96A0;
    font-weight: bold;
}
.bg_cyan {
    background-color: rgba(13, 150, 160, 0.102);
}
.bg_gray {
    background-color: #505050;
}
.section_title {
    display: flex;
    align-items: center;
    justify-content: center;
}
.section_title::before,
.section_title::after {
    content: "";
    display: inline-block;
    width: 25.49px;
    height: 25px;
    background-image: url("../images/足跡_1.svg");
    background-size: cover;
    vertical-align: middle;
    margin: 0 20px;
}
a {
    transition: opacity 0.5s ease;
}
/* aタグにホバーアニメーションを設定する */
a:hover {
    opacity: 0.5;
}
.footprint1 {
    width: 25.49px;
    height: 25px;
}
/* h1=40px、h2=30px、h3=25px、h4=20px */
h1 {
    font-size: 4rem;
    line-height: 60px;
}
h2 {
    font-size: 3rem;
    line-height: 50px;
}
h3 {
    font-size: 2.5rem;
}
h4 {
    font-size: 2rem;
    line-height: 25px;
}
.br_sp {
    display: none;
}

/* ヘッダー */
.header {
    position: relative;
    height: 50px;
}
.header a {
    display: inline-block;
    line-height: 50px;
}
.title {
    position: absolute;
    padding-left: 100px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    height: 50px;
    gap: 9.5px;
}
.title_nav_btn {
    line-height: 33px;
    font-size: 1.8rem;
    font-weight: bold;
}
.nav_list {
    display: flex;
    justify-content: flex-end;
    font-size: 1.4rem;
    font-weight: bold;
    align-items: center;
    height: 50px;
    gap: 10px;
    padding-right: 60px;
}
.nav_list li {
    height: 50px;
}

/* FV/main */
#main {
    position: relative;
}
.main_img {
    width: 100%;
    height: auto;
} 
.main_message {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.702);
    margin-top: 15.2%;
    padding: 23px 35px 23px 99px;
}
.main_message p {
    font-size: 2.5rem;
}

/* ご挨拶/greeting */
#greeting {
    position: relative;
}
.greeting_inner {
    max-width: 960px;
    margin-inline: auto;
    padding-inline: 60px;
}
#greeting h2 {
    text-align: center;
    padding-top: 60px;
}
#greeting p {
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
    line-height: 33px;
    padding-top: 15px;
    padding-bottom: 60px;
}
#greeting img {
    position: absolute;
    right: 76px;
    bottom: 34px;
}

/* 強み */
.strengths_inner {
    max-width: 940px;
    margin-inline: auto;
    padding-inline: 30px;
}
#strengths .section_title {
    padding-top: 64px;
}
.strength_item_list {
    padding-top: 48px;
    padding-bottom: 68px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.strengths_item {
    display: flex;
}
.reverse {
    flex-direction: row-reverse;
}
.strength_text {
    width: 50%;
    padding-right: 45px;
    line-height: 33px;
    padding-top: 48px;
}
.reverse .strength_text {
    padding-right: 0;
    padding-left: 44px;
}
.strength_text p:first-of-type {
    font-size: 2.2rem;
}
.strength_text p:last-of-type {
    font-size: 1.8rem;
    font-weight: 500;
    padding-top: 19px;
}
.strengths_item picture {
    width: 50%;
    object-fit: cover;
    object-position: center;
}
.strengths_item img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

/* サービス */
.services_inner {
    max-width: 940px;
    margin-inline: auto;
    padding-inline: 30px;
}
#services .section_title {
    padding-top: 63px;
}
.service_list {
    display: flex;
    gap: 50px;
    padding-top: 48px;
    padding-bottom: 59px;
}
.service_content p:first-of-type {
    text-align: center;
    font-size: 2rem;
    line-height: 25px;
    padding-top: 19px;
}
.service_content p:last-of-type {
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 30px;
    padding-top: 8px;
}

/* お知らせ */
.notices_inner {
    max-width: 940px;
    margin-inline: auto;
    padding-inline: 30px;
}
#notices .section_title {
    padding-top: 63px;
}
.notice_list {
    margin-top: 46px;
    padding-bottom: 68px;
}
.notice_content {
    display: flex;
    border-top: 1px solid #707070;
    padding-top: 15px;
    padding-bottom: 15px;
}
.notice_content:last-of-type {
    border-bottom: 1px solid #707070;
}
.notice_date {
    font-size: 1.7rem;
    line-height: 25px;
    width: 110.5px;
    padding-left: 18.5px;
}
.notice_title {
    width: 234px;
    padding-left: 25px;
}
.notice_text {
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 25px;
    max-width: 534.5px;
}

/* アクセス */
.access_inner {
    max-width: 940px;
    margin-inline: auto;
    padding-inline: 30px;
}
#access .section_title {
    padding-top: 63px;
}
.access_content {
    display: flex;
    gap: 46px;
    padding-top: 50px;
    padding-bottom: 70px;
}
.access_map {
    width: 50%;
}
.access_hospital_name {
    font-size: 2.2rem;
    line-height: 33px;
}
.access_text {
    width: 50%;
}
.access_text_p {
    font-size: 1.8rem;
    font-weight: 500;
}
.address {
    padding-top: 15px;
    line-height: 27px;
}
.phone {
    padding-top: 14px;
    display: flex;
    align-items: flex-end;
    line-height: 40px;
}
.phone_number {
    font-size: 2.5rem;
    color: #0D96A0;
    font-weight: bold;
}
.email {
    padding-top: 11px;
    padding-bottom: 25px;
    line-height: 27px;
}
.access_border {
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    padding-top: 15px;
    padding-bottom: 14px;
}
.opening_hour {
    line-height: 40px;
}

/* お問い合わせ */
#contact .section_title {
    padding-top: 62px;
}
.contact_inner {
    max-width: 940px;
    margin-inline: auto;
    padding-inline: 30px;
}
#contact p {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 30px;
    padding-top: 28px;
    padding-bottom: 39px;
}
.contact_form {
    padding-bottom: 80px;
}
.form_row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 30px;
    margin-bottom: 30px;
}
.form_row label {
    width: 20%;
    font-size: 2rem;
    line-height: 33px;
}
.form_row input,
.form_row textarea {
    background-color: #FFFFFF;
    width: 711px;
    padding-left: 10px;
    font-size: 1.6rem;
}
.form_row input {
    height: 40px;
}
.form_row textarea {
    height: 300px;
    resize: none;
    padding: 10px;
    line-height: 30px;
}
.btn_submit {
    text-align: center;
}
.btn_submit input[type="submit"] {
    background-color: #0D96A0;
    color: #FFFFFF;
    width: 200px;
    height: 50px;
    cursor: pointer;
    font-size: 2.5rem;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 20px;
}
.btn_submit input[type="submit"]:hover {
    background-color: #40C2CC;
}

/* フッター */
.footer_box {
    padding-top: 66px;
    padding-bottom: 70px;
}
footer a,footer p {
    color: #FFFFFF;
    font-size: 2rem;
    line-height: 33px;
}
.footer_nav {
    display: flex;
    justify-content: center;
    gap: 14px;
    max-width: 737px;
    margin: 0 auto;
    border-bottom: 1px solid #FFFFFF;
    padding-bottom: 21px;
}
.copyright {
    text-align: center;
    padding-top: 27px;
}
.sns-area {
    padding-top: 8px;
    display: flex;
    justify-content: center;
    gap: 12px;
}

/* SP版 */
@media (max-width:767px) {
    /* 全体 */
    /*  h1=40px、h2=30px、h3=25px、h4=20px */
    h1 {
        font-size: 3rem;
        line-height: 40px;
    }
    h2 {
        font-size: 2.5rem;
        line-height: 35px;
    }
    .br_sp {
        display: inline;
    }

    /* ヘッダー */
    .title {
        padding-left: 20px;
    }
    .header_nav {
        display: none;
    }
    .title_nav_btn {
        font-size: 2rem;
    }

    /* FV/main */
    .main_message {
        left: 0;
        bottom: 0;
        padding: 18px 23px 14px 20px;
    }
    .main_message p {
        font-size: 2rem;
    }

    /* ご挨拶/greeting */
    #greeting {
        /* padding: 50px 20px 40px; */
    }
    .greeting_inner_sp {
        max-width: 355px;
        margin-inline: auto;
        padding-inline: 10px;
    }
    #greeting h2 {
        padding-top: 49px;
    }
    #greeting p {
        font-size: 1.6rem;
        line-height: 30px;
        text-align: left;
        padding-top: 17px;
        padding-bottom: 31px;
    }
    #greeting img {
        width: 69px;
        height: 63px;
        right: 30px;
        bottom: 47px;
    }

    /* 強み */
    .strengths_inner_sp {
        max-width: 355px;
        margin-inline: auto;
        padding-inline: 10px;
    }
    #strengths .section_title {
        padding-top: 51px;
    }
    .strength_item_list {
        padding-top: 42px;
        padding-bottom: 35px;
        gap: 42px;
    }
    .strengths_item {
        flex-direction: column-reverse;
        gap: 26px;
    }
    .strength_text, .strengths_item picture {
        width: 100%;
    }
    .strength_text {
        padding-right: 0;
        padding-top: 0;
        line-height: 30px;
    }
    .reverse .strength_text {
        padding-left: 0;
    }
    .strength_text p:first-of-type {
        text-align: center;
        font-size: 2rem;
    }
    .strength_text p:last-of-type {
        font-size: 1.6rem;
        padding-top: 8px;
    }
    
    /* サービス */
    .services_inner_sp {
        max-width: 355px;
        margin-inline: auto;
        padding-inline: 10px;
    }
    .service_list {
        flex-direction: column;
        padding-top: 45px;
        padding-bottom: 39px;
        gap: 39px;
    }
    #services .section_title {
        padding-top: 45px;
    }
    .service_content p:first-of-type {
        padding-top: 30px;
        line-height: 30px;
    }
    .service_content p:last-of-type {
        padding-top: 7px;
    }

    /* お知らせ */
    .notices_inner_sp {
        max-width: 355px;
        margin-inline: auto;
        padding-inline: 10px;
    }
    #notices .section_title {
        padding-top: 43px;
    }
    .notice_list {
        padding-bottom: 50px;
    }
    .notice_content {
        flex-direction: column;
        padding: 28px 20px;
        gap: 0;
    }
    .notice_date {
        width: 100%;
        padding-left: 0px;
    }
    .notice_title {
        width: 100%;
        padding-top: 2px;
        padding-left: 0;
    }
    .notice_text {
        font-size: 1.6rem;
        line-height: 24px;
        width: 100%;
        padding-top: 6px;
    }

    /* アクセス */
    .access_inner_sp {
        max-width: 355px;
        margin-inline: auto;
        padding-inline: 10px;
    }
    #access .section_title {
        padding-top: 43px;
    }
    .access_content {
        flex-direction: column;
        padding-top: 46px;
        padding-bottom: 50px;
        gap: 30px;
    }
    .access_map {
        width: 100%;
        max-width: 335px;
        height: 222px;
    }
    .access_text {
        width: 100%;
    }
    .address {
        font-size: 1.6rem;
        line-height: 24px;
        padding-top: 15px;
    }
    .phone {
        font-size: 1.6rem;
        padding-top: 6px;
    }
    .email {
        font-size: 1.6rem;
        padding-top: 7px;
        padding-bottom: 14px;
    } 
    .access_border {
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .opening_hour {
        font-size: 1.6rem;
        line-height: 30px;
    }

    /* お問い合わせ */
    .contact_inner_sp {
        max-width: 355px;
        margin-inline: auto;
        padding-inline: 10px;
    }
    #contact .section_title {
        padding-top: 43px;
    }
    #contact p {
        font-size: 1.6rem;
        text-align: left;
        padding-top: 43px;
        padding-bottom: 34px;
    }
    .form_row {
        flex-direction: column;
        gap: 2px;
        margin-bottom: 17px;
    }
    .form_row label {
        width: 100%;
        font-size: 1.8rem;
    }
    .form_row input,
    .form_row textarea {
        width: 100%;
    }
    .form_row input {
        height: 50px;
    }
    .btn_submit input[type="submit"] {
        width: 100%;
        height: 41px;
        font-size: 2rem;
        margin-top: 33px;
    }
    .contact_form {
        padding-bottom: 50px;
    }

    /* フッター */
    .footer_box {
        max-width: 355px;
        margin-inline: auto;
        padding-inline: 10px;
    }
    .footer_nav {
        flex-wrap: wrap;
        row-gap: 0;
        column-gap: 20px;
    }
    .footer_box {
        padding-top: 45px;
        padding-bottom: 50px;
    }
    .copyright {
        padding-top: 15px;
    }
    .copyright p {
        font-size: 1.6rem;
    }
    .sns-area {
        padding-top: 28px;
    }
}