@charset "utf-8";

/* 全体 */
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    font-family: 'Noto Sans JP', sans-serif;
}

a,h3,p,label,h4 {
    color: #505050;
    font-weight: bold;
}
.bg_cyan {
    background-color: rgba(13, 150, 160, 0.102);
}
.bg_gray {
    background-color: #505050;
}

/* セクションタイトル */
h2.section_title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: 700;
    color: #505050;
}
.section_title::before,
.section_title::after {
    content: "";
    display: inline-block;
    width: 25.49px;
    height: 25px;
    background-image: url("../images/footprint_1.svg");
    background-size: cover;
    vertical-align: middle;
    margin: 0 20px;
}
a {
    transition: opacity 0.5s ease;
}
/* aタグにホバーアニメーションを設定する */
a:hover {
    opacity: 0.5;
}
.footprint1 {
    width: 25.49px;
    height: 25px;
}

.br_sp {
    display: none;
}

/* ヘッダー */
.header_bg {
    width: 100%;
    height: 50px;
    background-color: #FFFFFF;
    position: fixed;
    z-index: 1;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    max-width: 1080px;
    margin: 0 auto;
    height: 50px;
    padding-left: clamp(10px, 9.17vw, 99px);
    padding-right: clamp(10px, 5.56vw, 60px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
.header a {
    display: inline-block;
}
.title_nav_btn {
    margin-left: 0;
    font-weight: bold;
    display: flex !important;
    align-items: center;
    height: 50px;
}
.title_nav_btn img {
    height: 100%;
}
.title_nav_btn p {
    margin: 0;
    display: block;
    font-size: 1.8rem;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 9.5px;
}
.nav_list {
    display: flex;
    justify-content: flex-end;
    font-size: 1.4rem;
    font-weight: bold;
    align-items: center;
    height: 50px;
    gap: 10px;
    padding-right: 0;
    line-height: 3.57;
}
.nav_list li {
    height: 50px;
}

/* FV/main */
#top {
    position: relative;
    padding-top: 50px;
}
.top_img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
} 
.top_message {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.702);
    top: 36.7%;
    padding-top: 23px;
    padding-bottom: 23px;
    padding-left: 99px;
    width: 45.5%;
}
.top_message h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #505050;
}
.top_message h1 span {
    font-size: 4rem;
    line-height: 1.5;
    color: #0D96A0;
    padding-top: 8px;
    display: inline-block;
}

/* ご挨拶/greeting */
#greeting {
    scroll-margin-top: 50px;
}
.greeting_inner {
    max-width: 960px;
    margin-inline: auto;
    padding-inline: 60px;
    position: relative;
}
#greeting h2 {
    text-align: center;
    padding-top: 60px;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.67;
    color: #0D96A0;
}
#greeting p {
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
    line-height: 1.83;
    padding-top: 15px;
    padding-bottom: 60px;
}
#greeting img {
    position: absolute;
    right: 16px;
    bottom: 34px;
}

/* 強み */
#strengths {
    scroll-margin-top: 50px;
}
.strengths_inner {
    max-width: 940px;
    margin-inline: auto;
    padding-inline: 30px;
}
#strengths .section_title {
    padding-top: 64px;
}
.strength_item_list {
    padding-top: 48px;
    padding-bottom: 68px;
    display: flex;
    flex-direction: column;
    gap: 46px;
}
.strengths_item {
    display: flex;
    align-items: center;
}
.reverse {
    flex-direction: row-reverse;
}
.strength_text {
    width: 50%;
    padding-right: 44.5px;
    line-height: 1.83;
}
.reverse .strength_text {
    padding-right: 0;
    padding-left: 44px;
}
.strength_text h3 {
    font-size: 2.2rem;
    line-height: 1.5;
    font-weight: 700;
    color: #505050;
}
.strength_text p {
    font-size: 1.8rem;
    font-weight: 500;
    padding-top: 19px;
}
.strengths_item picture {
    width: 50%;
    object-fit: cover;
    object-position: center;
}
.strengths_item img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    vertical-align: bottom;
}

/* サービス */
#services {
    scroll-margin-top: 50px;
}
.services_inner {
    max-width: 940px;
    margin-inline: auto;
    padding-inline: 30px;
}
#services .section_title {
    padding-top: 62px;
}
.service_list {
    display: flex;
    gap: 50px;
    padding-top: 48px;
    padding-bottom: 59px;
}
.service_content img {
    width: 100%;
    vertical-align: bottom;
}
.service_content h3 {
    text-align: center;
    padding-top: 15px;
    color: #505050;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.25;
}
.service_content p {
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 1.76;
    padding-top: 8px;
}

/* お知らせ */
#notices {
    scroll-margin-top: 50px;
}
.notices_inner {
    max-width: 940px;
    margin-inline: auto;
    padding-inline: 30px;
}
#notices .section_title {
    padding-top: 63px;
}
.notice_list {
    margin-top: 46px;
    padding-bottom: 68px;
}
.notice_border {
    border-top: 1px solid #707070;
}
.notice_border:last-child {
    border-bottom: 1px solid #707070;
}
.notice_content {
    display: flex;
    padding-top: 17px;
    padding-bottom: 17px;
    align-items: center;
}
.notice_date {
    font-size: 1.7rem;
    line-height: 1.47;
    width: 110.5px;
    padding-left: 18.5px;
    flex-shrink: 0;
}
h3.notice_title {
    width: 234px;
    padding-left: 25px;
    flex-shrink: 0;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.25;
    color: #0D96A0;
}
.notice_text {
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 1.47;
    max-width: 534.5px;
    flex: 1;
}

/* アクセス */
#access {
    scroll-margin-top: 50px;
}
.access_inner {
    max-width: 940px;
    margin-inline: auto;
    padding-inline: 30px;
}
#access .section_title {
    padding-top: 63px;
}
.access_content {
    display: flex;
    /* gap: 46px; */
    padding-top: 42px;
    padding-bottom: 70px;
}
.map_wrapper {
    width: 50%;
}
.access_map {
    width: 100%;
    height: 100%;
}
.access_text {
    width: 50%;
    padding-left: 46px;
}
h3.access_hospital_name {
    font-size: 2.2rem;
    font-weight: 700;
    color: #505050;
    line-height: 1.5;
}
.access_text_p {
    font-size: 1.8rem;
    font-weight: 500;
}
.address {
    padding-top: 15px;
    line-height: 1.5;
}
.address br {
    display: none;
}
.phone {
    padding-top: 14px;
    display: flex;
    align-items: baseline;
}
.phone_number {
    font-size: 2.5rem;
    color: #0D96A0;
    font-weight: bold;
}
.phone_sp_only {
    display: none;
}
.email {
    padding-top: 11px;
    padding-bottom: 25px;
    line-height: 1.5;
}
.email_link {
    font-weight: 500;
}
.access_border {
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    padding-top: 20px;
    padding-bottom: 14px;
    margin-left: 5px;
}
.opening_hour {
    line-height: 2.22;
}

/* お問い合わせ */
#contact {
    scroll-margin-top: 50px;
}
#contact .section_title {
    padding-top: 59px;
}
.contact_inner {
    max-width: 940px;
    margin-inline: auto;
    padding-inline: 30px;
}
#contact p {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 1.76;
    padding-top: 28px;
    padding-bottom: 39px;
}
.contact_form {
    padding-bottom: 80px;
}
.form_row{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0px;
    margin-bottom: 30px;
}
.form_content {
    align-items: flex-start;
}
.form_row label {
    width: 20%;
    font-size: 2rem;
    line-height: 1.65;
}
.form_row input,
.form_row textarea {
    background-color: #FFFFFF;
    width: 711px;
    padding: 10px;
    font-size: 1.6rem;
}
.form_row input {
    height: 40px;
}
.form_row textarea {
    height: 300px;
    resize: none;
    padding: 10px;
    line-height: 1.88;
}
.btn_submit {
    text-align: center;
}
.btn_submit input[type="submit"] {
    background-color: #0D96A0;
    color: #FFFFFF;
    width: 200px;
    height: 50px;
    cursor: pointer;
    font-size: 2.5rem;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 20px;
}
.btn_submit input[type="submit"]:hover {
    background-color: #40C2CC;
}

/* フッター */
.footer_box {
    padding-top: 66px;
    padding-bottom: 70px;
}
footer a,footer p {
    color: #FFFFFF;
    font-size: 2rem;
    line-height: 1.65;
}
.footer_nav {
    display: flex;
    justify-content: center;
    gap: 14px;
    max-width: 737px;
    margin: 0 auto;
    border-bottom: 1px solid #FFFFFF;
    padding-bottom: 19px;
}
.copyright {
    text-align: center;
    padding-top: 27px;
}
.copyright_br_sp {
    display: none;
}
.sns-area {
    padding-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.sns-area a {
    display: inline-block;
    padding: 0;
    line-height: 1;
}
.sns-area a img {
    width: 22px;
    height: 22px;
    display: block;
}

/* 中間サイズ */
@media (max-width: 1030px) {
    .top_message {
    padding-top: 18.4px;
    padding-bottom: 18.4px;
    padding-left: 79.2px;
    }
    .top_message h1 {
    font-size: 2rem;
    }
    .top_message h1 span {
    font-size: 3.2rem;
    }
}

@media (max-width: 880px) {
    .top_message {
    padding-top: 16.6px;
    padding-bottom: 16.6px;
    padding-left: 71.2px;
    }
    .top_message h1 {
    font-size: 1.8rem;
    }
    .top_message h1 span {
    font-size: 2.9rem;
    }

    .address br {
        display: inline;
    }

    .form_row .label_email {
        font-size: 1.6rem;
    }
}

/* SP版 */
@media (max-width:767px) {
    /* 全体 */
    /*  h1=40px、h2=30px、h3=25px、h4=20px */
    /* h1 {
        font-size: 3rem;
        line-height: 1.33;
    }
    h2 {
        font-size: 2.5rem;
        line-height: 1.4;
    }
    h4 {
        font-size: 2rem;
    } */
    .br_sp {
        display: inline;
    }

    /* ヘッダー */
    .title {
        padding-left: 20px;
    }
    .header_nav {
        display: none;
    }
    .title_nav_btn {
        font-size: 2rem;
        margin-left: 20px;
    }
    .title_nav_btn p {
        font-size: 2rem;
    }

    /* FV/main */
    .top_message {
        left: 0;
        bottom: 0;
        padding: 18px 23px 14px 20px;
    }
    .top_message h1 {
        font-size: 2rem;
    }
    .top_message h1 span {
        font-size: 3rem;
        line-height: 1.33;
        padding-top: 7px;
    }

    /* ご挨拶/greeting */
    .greeting_inner_sp {
        /* max-width: 355px; */
        margin-inline: auto;
        padding-inline: 20px;
    }
    #greeting h2 {
        padding-top: 49px;
        font-size: 2.5rem;
        line-height: 1.4;
    }
    #greeting p {
        font-size: 1.6rem;
        line-height: 1.88;
        text-align: left;
        padding-top: 17px;
        padding-bottom: 31px;
    }
    #greeting img {
        width: 69px;
        height: 63px;
        right: 30px;
        bottom: 38px;
    }

    /* 強み */
    .strengths_inner_sp {
        /* max-width: 355px; */
        margin-inline: auto;
        padding-inline: 20px;
    }
    #strengths .section_title {
        padding-top: 54px;
    }
    .strength_item_list {
        padding-top: 42px;
        padding-bottom: 33px;
        gap: 42px;
    }
    .strengths_item {
        flex-direction: column-reverse;
        gap: 25px;
    }
    .strength_text, .strengths_item picture {
        width: 100%;
    }
    .strength_text {
        padding-right: 0;
        padding-top: 0;
        line-height: 1.88;
    }
    .reverse .strength_text {
        padding-left: 0;
    }
    .strength_text h3 {
        text-align: center;
        font-weight: 700;
        line-height: 1.5;
        font-size: 2rem;
    }
    .strength_text p:last-of-type {
        font-size: 1.6rem;
        padding-top: 6px;
    }
    
    /* サービス */
    .services_inner_sp {
        /* max-width: 355px; */
        margin-inline: auto;
        padding-inline: 20px;
    }
    .service_list {
        flex-direction: column;
        padding-top: 47px;
        padding-bottom: 39px;
        gap: 35px;
    }
    #services .section_title {
        padding-top: 42px;
    }
    .service_content h3 {
        padding-top: 29px;
        line-height: 1.5;
    }
    .service_content p {
        padding-top: 7px;
        letter-spacing: -1px;
    }

    /* お知らせ */
    .notices_inner_sp {
        /* max-width: 355px; */
        margin-inline: auto;
        padding-inline: 20px;
    }
    #notices .section_title {
        padding-top: 43px;
    }
    .notice_list {
        padding-bottom: 50px;
    }
    .notice_content {
        flex-direction: column;
        /* padding: 28px 20px; */
        padding-top: 28px;
        padding-bottom: 28px;
        padding-left: 10px;
        gap: 0;
    }
    .notice_date {
        width: 100%;
        padding-left: 0px;
    }
    h3.notice_title {
        width: 100%;
        padding-top: 2px;
        padding-left: 0;
    }
    .notice_text {
        font-size: 1.6rem;
        line-height: 1.5;
        width: 100%;
        padding-top: 6px;
        max-width: 1080px;
    }

    /* アクセス */
    .access_inner_sp {
        /* max-width: 355px; */
        margin-inline: auto;
        padding-inline: 20px;
    }
    #access .section_title {
        padding-top: 40px;
    }
    .access_content {
        flex-direction: column;
        padding-top: 49px;
        padding-bottom: 50px;
        gap: 26px;
    }
    .map_wrapper {
        aspect-ratio: 335/222;
        width: 100%;
    }
    .access_map {
        width: 100%;
        /* max-width: 335px; */
        height: 100%;
    }
    .access_hospital_name {
        font-size: 2.2rem;
    }
    .access_text {
        width: 100%;
        padding-left: 0;
    }
    .address {
        font-size: 1.6rem;
        line-height: 1.5;
        padding-top: 15px;
    }
    .address br {
        display: none;
    }
    .phone {
        font-size: 1.6rem;
        padding-top: 6px;
    }
    .phone_pc_only {
        display: none;
    }
    .phone_sp_only {
        display: inline;
    }
    .phone_number a {
    color: #0D96A0;
}
    .email {
        font-size: 1.6rem;
        padding-top: 7px;
        padding-bottom: 19px;
    } 
    .access_border {
        padding-top: 12px;
        padding-bottom: 12px;
        margin-left: 0;
    }
    .opening_hour {
        font-size: 1.6rem;
        line-height: 1.88;
    }

    /* お問い合わせ */
    .contact_inner_sp {
        /* max-width: 355px; */
        margin-inline: auto;
        padding-inline: 20px;
    }
    #contact .section_title {
        padding-top: 41px;
    }
    #contact p {
        font-size: 1.6rem;
        text-align: left;
        padding-top: 43px;
        padding-bottom: 34px;
        line-height: 1.88;
    }
    .form_row {
        flex-direction: column;
        gap: 6px;
        margin-bottom: 17px;
    }
    .form_row label {
        width: 100%;
        font-size: 1.8rem;
    }
    .form_row .label_email {
        font-size: 1.8rem;
    }
    .form_row input,
    .form_row textarea {
        width: 100%;
    }
    .form_row input {
        height: 50px;
    }
    .btn_submit input[type="submit"] {
        width: 100%;
        height: 41px;
        font-size: 2rem;
        margin-top: 33px;
    }
    .contact_form {
        padding-bottom: 50px;
    }

    /* フッター */
    .footer_box {
        /* max-width: 355px; */
        margin-inline: auto;
        padding-inline: 20px;
    }
    .footer_nav {
        flex-wrap: wrap;
        row-gap: 0;
        column-gap: 20px;
        padding-bottom: 22px;
    }
    .footer_nav a {
        font-size: 1.8rem;
    }
    .footer_box {
        padding-top: 45px;
        padding-bottom: 50px;
    }
    .copyright {
        padding-top: 20px;
    }
    .copyright p {
        font-size: 1.6rem;
    }
    .sns-area {
        padding-top: 33px;
    }
}

@media (max-width:375px) {
    /* 強み */
    .strength_text h4 {
        font-size: 1.6rem;
    }

    /* トップ */
    .top_message h3 {
        font-size: 2.4rem;
    }
    h1 {
        font-size: 2.9rem;
    }

    /* お問い合わせ */
    #contact h3 {
        font-size: 2rem;
    }
    .address br {
        display: inline;
    }

    /* フッター */
    .footer_nav a {
        font-size: 1.5rem;
    }
    .copyright_br_sp {
        display: inline;
    }
}